.fondo{
  background-color: rgb(228, 131, 67);
}
.some-page-wrapper {
    margin: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .green-column {
    background-color: rgb(255, 150, 109);
    height: 1300px;
  }
  .green-column2 {
    background-color: rgb(255, 150, 109);
    height: 1000px;
  }

  .container-fluid{
    background-color: rgb(226, 107, 71);
  }

  h1{
    text-align: center;
  }

  h2 {
    margin-left: 50px;
  }

  img{
    height: 250px;
  }

  p{
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .titulop{
    margin-top: 25px;
  }

  .form-group{
    width: 25%;  
    margin-left: 900px;

  }

  footer{
    background-color: brown;
    height: 50px;
    padding-left: 100px;
    font-weight:  15px;
  }

